In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats.mstats import gmean


manufacturing_cost = 4
selling_price = 9
fine = 1
r = []

table_A = pd.read_excel('SATPR_3.xlsx', sheet_name='Sheet1', usecols='G:L',nrows=4)

table_A

,Ймовірність попиту,Виготовлення,Запит,Продано,Не продано,Невдов. Запит(Штраф)
0,0.1,2000,2000,2000,0,0
1,0.5,2000,3000,2000,0,1000
2,0.2,2000,4000,2000,0,2000
3,0.2,2000,5000,2000,0,3000

In [42]:
def calculate_answer(table):
    table['Очікуваний чистий дохід'] = table['Продано'] * selling_price - table['Виготовлення'] * manufacturing_cost
    table['Очікуваний дохід з невдв. запитом'] = table['Очікуваний чистий дохід'] - table['Невдов. Запит(Штраф)']
    return (sum(table['Очікуваний чистий дохід'] * table['Ймовірність попиту']), sum(table['Очікуваний дохід з невдв. запитом'] * table['Ймовірність попиту']) )


print(calculate_answer(table_A))
r.append(calculate_answer(table_A))
table_A

(10000.0, 8500.0)

,Ймовірність попиту,Виготовлення,Запит,Продано,Не продано,Невдов. Запит(Штраф),Очікуваний чистий дохід,Очікуваний дохід з невдв. запитом
0,0.1,2000,2000,2000,0,0,10000,10000
1,0.5,2000,3000,2000,0,1000,10000,9000
2,0.2,2000,4000,2000,0,2000,10000,8000
3,0.2,2000,5000,2000,0,3000,10000,7000

In [43]:
table_B = pd.read_excel('SATPR_3.xlsx', sheet_name='Sheet1',skiprows=6 , usecols='G:L',nrows=4)
table_B.columns = ['Ймовірність попиту', 'Виготовлення', 'Запит', 'Продано', 'Не продано', 'Невдов. Запит(Штраф)']


print(calculate_answer(table_B))
r.append(calculate_answer(table_B))
table_B

(14100.0, 13500.0)

,Ймовірність попиту,Виготовлення,Запит,Продано,Не продано,Невдов. Запит(Штраф),Очікуваний чистий дохід,Очікуваний дохід з невдв. запитом
0,0.1,3000,2000,2000,1000,0,6000,6000
1,0.5,3000,3000,3000,0,0,15000,15000
2,0.2,3000,4000,3000,0,1000,15000,14000
3,0.2,3000,5000,3000,0,2000,15000,13000

In [44]:
table_C = pd.read_excel('SATPR_3.xlsx', sheet_name='Sheet1',skiprows=12 , usecols='G:L',nrows=4)
table_C.columns = ['Ймовірність попиту', 'Виготовлення', 'Запит', 'Продано', 'Не продано', 'Невдов. Запит(Штраф)']


print(calculate_answer(table_C))
r.append(calculate_answer(table_C))
table_C

(13700.0, 13500.0)

,Ймовірність попиту,Виготовлення,Запит,Продано,Не продано,Невдов. Запит(Штраф),Очікуваний чистий дохід,Очікуваний дохід з невдв. запитом
0,0.1,4000,2000,2000,2000,0,2000,2000
1,0.5,4000,3000,3000,1000,0,11000,11000
2,0.2,4000,4000,4000,0,0,20000,20000
3,0.2,4000,5000,4000,0,1000,20000,19000

In [45]:
table_D = pd.read_excel('SATPR_3.xlsx', sheet_name='Sheet1',skiprows=19 , usecols='G:L',nrows=4)
table_D.columns = ['Ймовірність попиту', 'Виготовлення', 'Запит', 'Продано', 'Не продано', 'Невдов. Запит(Штраф)']


print(calculate_answer(table_D))
r.append(calculate_answer(table_D))
table_D

(11500.0, 11500.0)

,Ймовірність попиту,Виготовлення,Запит,Продано,Не продано,Невдов. Запит(Штраф),Очікуваний чистий дохід,Очікуваний дохід з невдв. запитом
0,0.1,5000,2000,2000,3000,0,-2000,-2000
1,0.5,5000,3000,3000,2000,0,7000,7000
2,0.2,5000,4000,4000,1000,0,16000,16000
3,0.2,5000,5000,5000,0,0,25000,25000

In [48]:
print('B')
tuple(max(col) for col in zip(*r))

B

(14100.0, 13500.0)